name: Automatic Rebase
on:
  issue_comment:
    types:
      - created

jobs:
  auto-rebase:
    if: ${{ github.event.issue.pull_request != '' && github.event.comment.body == '/rebase' && (github.event.comment.author_association == 'MEMBER' || github.event.comment.author_association == 'OWNER') }}
    runs-on: ubuntu-latest
    steps:
      - uses: tibdex/github-app-token@v1
        id: generate_token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # otherwise, you will fail to push refs to dest repo

      - uses: cirrus-actions/rebase@1.5
        env:
          PR_NUMBER: ${{ github.event.issue.number }}
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
