on:
  push:
    branches:
      - master
    paths:
      - pyproject.toml
      - poetry.lock
  pull_request:
    paths:
      - pyproject.toml
      - poetry.lock

name: Check requirements.txt

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: install poetry
        run: pip install poetry

      - name: generate requirements.txt
        run: poetry export --dev --without-hashes > requirements.txt

      - name: check that requirements.txt is up-to-date
        run: git diff --exit-code requirements.txt
