on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: CI

jobs:
  check_reqs_up_to_date:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Install poetry
        run: pip install poetry

      - name: Check that requirements.txt is up-to-date
        run: |
          set -euo pipefail

          poetry export --dev --without-hashes > requirements.txt
          git diff --exit-code requirements.txt

  lint:
    needs:
      - check_reqs_up_to_date
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Nix
        uses: cachix/install-nix-action@v14

      - name: Setup Cachix
        uses: cachix/cachix-action@v10
        with:
          name: stupidb
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community,poetry2nix

      - name: Lint
        run: nix-shell --pure --run 'pre-commit run --all-files' --keep-going

  nix:
    needs:
      - lint
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Nix
        uses: cachix/install-nix-action@v14

      - name: Setup Cachix
        uses: cachix/cachix-action@v10
        with:
          name: stupidb
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community,poetry2nix

      - name: Build package and run tests
        run: nix build -L --argstr python ${{ matrix.python-version }} --keep-going

  windows:
    needs:
      - lint
    strategy:
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup python on windows
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install graphviz
        run: choco install graphviz

      - name: Install imagemagick
        run: choco install imagemagick

      - name: Install poetry
        run: pip install poetry

      - name: Install package
        run: poetry install --extras animation

      - name: Run tests
        run: poetry run pytest --numprocesses auto

  release:
    needs:
      - nix
      - windows
    runs-on: ubuntu-latest
    concurrency: release
    if: ${{ github.event_name == 'push' }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: ${{ secrets.SEMREL }}

      - name: Python Semantic Release
        uses: relekang/python-semantic-release@v7.19.2
        with:
          github_token: ${{ secrets.SEMREL }}
          pypi_token: ${{ secrets.PYPI_TOKEN }}
