on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "**" ]

name: Continuous Integration

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Nix
        uses: cachix/install-nix-action@v12

      - name: Run tests
        run: nix-shell --pure shell.nix --run pytest
