on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: Continuous Integration

jobs:
  linux_macos:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Nix
        uses: cachix/install-nix-action@v13

      - name: Setup stupidb push/pull and nix-community pull caches
        uses: cachix/cachix-action@v10
        with:
          name: stupidb
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community

      - name: Build package and run tests
        run: nix build -L --argstr python python${{ matrix.python-version }}

  windows:
    strategy:
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup python on windows
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install graphviz
        run: choco install graphviz

      - name: Install imagemagick
        run: choco install imagemagick

      - name: Install poetry
        run: pip install poetry

      - name: Install package
        run: poetry install --extras animation

      - name: Run tests
        run: poetry run pytest

  release:
    needs: [linux_macos, windows]
    runs-on: ubuntu-latest
    concurrency: release

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Python Semantic Release
        uses: relekang/python-semantic-release@v7.19.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pypi_token: ${{ secrets.PYPI_TOKEN }}
