on:
  push:
    branches:
      - master

name: Continuous Integration

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Nix
        uses: cachix/install-nix-action@v12

      - name: Use cachix caches
        uses: cachix/cachix-action@v10
        with:
          name: nix-community
          extraPullNames: stupidb
          skipPush: true

      - name: Cache artifacts and Run tests
        run: |
          cachix watch-store stupidb &
          nix-shell --pure shell.nix -A dev --run pytest
        env:
          CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}

  release:
    needs: [ci]
    runs-on: ubuntu-latest
    concurrency: release

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Nix
        uses: cachix/install-nix-action@v12

      - name: Use cachix caches
        uses: cachix/cachix-action@v10
        with:
          name: nix-community
          extraPullNames: stupidb
          skipPush: true

      - name: Install Python for poetry build
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Python Semantic Release
        uses: relekang/python-semantic-release@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
