on:
  push:
    branches: [ "**" ]

name: Continuous Integration

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Nix
        uses: cachix/install-nix-action@v12

      - name: Use the nix-community cachix cache
        uses: cachix/cachix-action@v10
        with:
          name: nix-community

      - name: Run tests
        run: nix-shell --pure shell.nix --run pytest
