on:
  push:
    branches:
      - master

name: Continuous Integration

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Nix
        uses: cachix/install-nix-action@v12

      - name: Use nix-community cache
        uses: cachix/cachix-action@v10
        with:
          name: nix-community
          skipPush: true

      - name: Setup stupidb caches
        uses: cachix/cachix-action@v10
        with:
          name: stupidb
          skipPush: false
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Run checks
        run: nix-shell --pure shell.nix -A dev --run 'make check'

      - name: Run tests
        run: nix-shell --pure shell.nix -A dev --run 'make test'

  release:
    needs: [ci]
    runs-on: ubuntu-latest
    concurrency: release

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Python for poetry build
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Python Semantic Release
        uses: relekang/python-semantic-release@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pypi_token: ${{ secrets.PYPI_TOKEN }}
