name: Update requirements.txt

on:
  pull_request:
    paths:
      - pyproject.toml
      - poetry.lock

jobs:
  update-requirements:
    runs-on: ubuntu-latest
    steps:
      - uses: tibdex/github-app-token@v1
        id: generate_token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: actions/checkout@v3
        with:
          token: ${{ steps.generate_token.outputs.token }}

      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - run: pip install poetry
      - run: poetry export --dev --without-hashes --no-ansi --extras animation > requirements.txt

      - uses: OleksiyRudenko/gha-git-credentials@v2.1
        with:
          token: ${{ steps.generate_token.outputs.token }}
          global: true
          name: phillip-ground[bot]
          email: phillip-ground[bot]@users.noreply.github.com

      - uses: EndBug/add-and-commit@v9
        with:
          add: requirements.txt
          author_name: phillip-ground[bot]
          author_email: phillip-ground[bot]@users.noreply.github.com
          message: "chore(requirements.txt): update"
          push: origin HEAD:${{ github.head_ref }}
