on:
  pull_request:
    paths:
      - pyproject.toml
      - poetry.lock

name: Update requirements.txt

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: install poetry
        run: pip install poetry

      - name: generate requirements.txt
        run: poetry export --dev --without-hashes > requirements.txt

      - name: setup git credentials
        uses: OleksiyRudenko/gha-git-credentials@v2.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          global: true
          name: github-actions[bot]
          email: 41898282+github-actions[bot]@users.noreply.github.com

      - name: commit generated file and push to pull request
        uses: EndBug/add-and-commit@v7
        with:
          add: requirements.txt
          author_name: github-actions[bot]
          author_email: 41898282+github-actions[bot]@users.noreply.github.com
          message: "chore(requirements.txt): update"
          pull: "--rebase"
          push: true
